.tariffs{
    .container{
        // display: flex;
        // flex-direction: row;
        // align-items: center;
    }

    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__descr{
        display: flex;
        flex-direction: column;
        align-items: start;

        width: 564px;

        margin-right: 47px;
        &__title{
            margin-bottom: -46px;
        }

        &__text{
            font-size: 24px;
            line-height: 34px;
            color: #2D3238;
            letter-spacing: 0.713846px;          
            
            margin-bottom: 40px;
        }

        &__form{
            width: 440px;
            margin-top: -60px;
        }
    }

    margin-bottom: 160px;
}